.register-form {
  padding-top: 50px;
  padding-bottom: 75px;
  position: relative;
}

.register-form h2 {
  font-size: 40px!important;
  line-height: 48px!important;
  margin-bottom: 20px;
  color: #e5f0f0;
  text-transform: uppercase;
  text-align: center!important;
}

.register-form p {
  font-size: 40px!important;
  line-height: 48px!important;
  margin-bottom: 20px;
  color: #e5f0f0;
  text-transform: uppercase;
  text-align: center!important;
}

register-form h3 {
  font-size: 24px;
  line-height: 29px;
  color: #202117;
  margin-bottom: 35px;
  font-weight: 500;
  font-family: inherit;
  text-align: center!important;
}
