<body>

  <div class="register-form">
  <h2>REGISTER NOW FOR DETAILED PRICING</h2>
  <h3>36 MODERN OCEAN VIEW RESIDENCES.</h3>
  <h3>2 BEDROOMS FROM $1.375M AND 3 BEDROOMS FROM $1.725M.</h3>


      <form class="content">

            <div id="left">
              <p>
                <input type="text" id="firstname" name="firstname" placeholder="FirstName">
              </p>
            <p>
              <input type="text" id="email" name="email" placeholder="Email">
            </p>

              <p>
                <input type="text" id="lastname" name="lastname" placeholder="Address">
              </p>

            </div>

              <div id="right">
                <p>
                  <input type="text" id="lastname" name="lastname" placeholder="LastName">
                </p>

                <p>
                  <input type="text"  placeholder="country"/>
                  </p>

                  <p>
                    <input type="text" id="isMarried" name="isMarried" cols="25" rows="5" placeholder="Comments">
                  </p>

              </div>

            </form>
            <div class="form-footer">

              <button class="button" type="submit">Submit</button>
              <br><br>
            <span>Contact us by email at </span>     <a href="mailto:maracielo@snellrealestate.com"><b>maracielo@snellrealestate.com</b></a>
          </div>
            </div>
            </body>
