<body>
  <div class="register-form">
  <h2>REGISTER NOW FOR DETAILED PRICING</h2>
  <h3>36 MODERN OCEAN VIEW RESIDENCES.
    2 BEDROOMS FROM $1.375M AND 3 BEDROOMS FROM $1.725M.</h3>


<form>

  <p>
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname">
  </p>

  <p>
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname">
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email">
  </p>

  <p>
    <label for="gender">Are you a realtor?</label>
    <input type="radio" value="male" id="gender" name="gender"> YES
    <input type="radio" value="female" id="gender" name="gender"> NO
  </p>

  <p>
    <label for="gender">Are you working for a realtor?</label>
    <input type="radio" value="male" id="gender" name="gender"> YES
    <input type="radio" value="female" id="gender" name="gender"> NO
  </p>

  <p>
  <label for="country">country </label>
  <input type="text" />
  </p>

  <p>
    <label for="isMarried">Comments</label>
    <input type="text" id="isMarried" name="isMarried" cols="25" rows="5">
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>
</div>
</body>
