<body>
  <div class="register-form">
  <h2>REGISTER NOW FOR DETAILED PRICING</h2>
  <h3>36 MODERN OCEAN VIEW RESIDENCES.
    2 BEDROOMS FROM $1.375M AND 3 BEDROOMS FROM $1.725M.</h3>


<form>

  <p>
    <input type="text" id="firstname" name="firstname" placeholder="FirstName">
  </p>

  <p>
    <input type="text" id="lastname" name="lastname" placeholder="LastName">
  </p>

  <p>
    <label for="email"> </label>
    <input type="text" id="email" name="email" placeholder="Email">
  </p>

  <p>
    <label for="gender">Are you a realtor?</label>
    <input type="radio" value="male" id="gender" name="gender"> YES
    <input type="radio" value="female" id="gender" name="gender"> NO
  </p>

  <p>
    <label for="gender">Are you working for a realtor?</label>
    <input type="radio" value="male" id="gender" name="gender"> YES
    <input type="radio" value="female" id="gender" name="gender"> NO
  </p>

  <p>
  <label for="country"></label>
  <input type="text"  placeholder="country"/>
  </p>

  <p>
    <label for="isMarried"></label>
    <input type="text" id="isMarried" name="isMarried" cols="25" rows="5" placeholder="Comments">
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>
</div>
</body>
