

.register-form h2 {
  text-align: center!important;
}

input{
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: inherit;
    width: 500px;
}
label{
display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    line-height: 24px!important;
    vertical-align: middle;
    margin-bottom: 0!important;
}
.content {
  padding: 0px 200px;
  display: flex;
  text-align: center;
}
#left,
#right {
  padding: 0.5rem;
  flex-grow: 1;
  text-align: center;
}
.form-footer{
  text-align: center;
  display: block;
  margin: 50px;
}
// .button {
//   margin-top: 10px;
//   justify-content: flex-end;
//   align-items: baseline;
// }

.buttonHolder{ text-align: center; }
