.images{
  height: 650px;
  width: 100vw;
}
.image{
height: 750px;
margin: 0px -16px;
float: right;
}
.content {
  background-color: #e4dbcc;
  padding: 0.5rem;
  display: flex;
}
.container{
  max-width: 1440px!important;
  text-align: center!important;
  background-color: #202117;
  padding: 40px 55px 40px 55px;
  // margin-top: -4px;
}

#left,
#right {
  padding: 0.5rem;
  flex-grow: 1;
}
h2{
  font-size: 30px;
    line-height: 36px;
    color: #e4dbcc;
    margin-bottom: 15px;
    font-family: Lato,sans-serif;
    text-transform: uppercase;
    text-align: center!important;
}
h3{
  font-size: 20px;
    line-height: 24px;
    padding-bottom: 25px;
    opacity: 1;
    margin-bottom: 15px;
    color: #936d33;
    text-align: center!important;
}
p{
  color: #e5f0f0;
  font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: Lato,sans-serif!important;
}
.content p{
  color: #494e61;
}
.content h4{
  color: #936d33!important;
}
