<img class="images" src="/assets/images/MCDS_Web_Residences_hero2.jpg" alt="image-1"/>
<div class="container">
  <h2>BAJA CULTURE IN CONTEMPORARY DESIGN</h2>
  <h3>EXPRESSING THE AUTHENTICITY OF CABO DEL SOL</h3>
  <p>Mar a Cielo is Cabo del Sol’s newest real estate offering. The architecture, interiors, and landscapes of Mar a Cielo interpret Cabo Del Sol through a modern lens. From the outside in, every residence reflects the warm, luxurious climate and natural beauty of the sun-drenched Baja peninsula. Unlike many Los Cabos properties, Mar a Cielo is not branded. There are no restrictions on owner usage or prescribed property management; homeowners are free to use and rent their homes however they wish.</p>
</div>
<div class="container">
  <h2>COME HOME TO UNFORGETTABLE MOMENTS</h2>
  <h3>INTIMATE REAL ESTATE, FULLY-FURNISHED FOR MODERN LIVING</h3>
  <p>Mar a Cielo is a special release of 36 modern homes. The two- and three-bedroom residences feature open floorplans and oversized windows framing views of the ever-changing sea. Generous outdoor spaces invite relaxation, and family gatherings that become lasting memories. Days unfold in harmony with nature. Thoughtful design brings the colors, textures, and traditions of Baja into each and every home.</p>
</div>
<div class="content">
  <div id="left">
     <h4>SEAMLESS TRANSITIONS FROM OUTSIDE TO INSIDE</h4>
    <p>The Baja lifestyle makes few distinctions between the outdoors and indoors. Mar a Cielo embraces this attitude, with spaces designed to maximize ocean views, warm sea breezes, and lush plant life. Each residence extends seamlessly into open-air patios, terraces, and balconies that encourage a slower pace – and time to absorb the beauty that enfolds Cabo del Sol. Throughout the property, nature takes priority. Flourishing gardens, courtyards, lanais, and decks blur the lines between the built and natural environment.</p>
</div>
  <div id="right">
     <img class="image" src="/assets/images/MCDS_Web_Residences_terrace3.jpg" alt="image-2"/>
  </div>
</div>
<div class="container">
  <h2>HOME SPECIFICATIONS</h2>
  <p>Every home comes fully furnished, with contemporary furniture designed for comfort and luxury. Your new home will have Mexican travertine flooring on all indoor and outdoor spaces, Quartz countertops, solid wood cabinetry throughout, Bosch appliances plus ceiling fans in every bedroom, living room and terraces.</p>
  <button type="button">SPECIFICATIONS PDF</button>
</div>
